.main {}

.intro_section {
  padding: 2rem 0 0;
}

.intro_section h1 {
  margin-top: 0;
}

.section_2 {
  padding: 6rem 1rem 2rem;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px groove var(--text-color);
  padding-bottom: 2rem;
}

.list li {
  font-size: var(--list-size);
}

.ticket_section {
  padding: 6rem 0;
}

.tickets_type>div {
  padding: 0 2rem;
  margin-bottom: 3rem;
}

.ticket,
.ticket+p,
.details {
  font-size: 1.2rem;
  line-height: 1.5;
}

.book_ticket {
  border-radius: var(--b_radius);
  padding: var(--link_padding);
  font-weight: var(--title_size);
  background: var(--body-bg-color);
  color: var(--white);
  margin-top: 0.8rem;
}

.ticket_details,
.details {
  padding: 1rem 0;
}

.event_details {
  padding: 0 2rem;
}

.map iframe {
  border: 0;
  width: 90vw;
  height: 400px;
}