.main {}

.intro_section {
  padding: 2rem 0 0;
}

.intro_section h1 {
  margin-top: 0;
}

.img_wrapper {
  padding: 0 0.7rem;
  display: flex;
  justify-content: center;
}

.section_2 {
  background: var(--light-pink);
  padding: 6rem 0 0;
}

.ticket_section {
  padding: 6rem 0;
  background: var(--light-yellow);
}

.tickets_type>div {
  padding: 0 0.7rem;
  margin-bottom: 3rem;
}

.ticket,
.ticket+p {
  font-size: 1rem;
}

.book_ticket {
  border-radius: var(--b_radius);
  padding: var(--link_padding);
  font-weight: var(--title_size);
  background: var(--black);
  color: var(--white);
  margin-top: 0.8rem;
}

.ticket_details {
  padding: 0.8rem 0;
}